<!DOCTYPE html>
<html lang="en">
    <%- include("./header.ejs"); %>
    <body style="background-color: white; ">
            <div>
                <table>
                    <tr>
                        <td>Modelo</td>
                        <% for(let i = 0; i < pecas.length; i++) { %>
                            <td><%=pecas[i]%></td>
                        <% } %>
                    </tr>
                        <% for(let i = 0; i < dados.length; i++) { %>
                            <tr>
                                <td><%=dados[i].modelo%></td>
                                <td><%=dados[i].fusao%></td>
                                <td><%=dados[i].gaveta%></td>
                                <td><%=dados[i].traseira%></td>
                                <td><%=dados[i].frontal%></td>
                            </tr>
                        <% } %>
                        
                    </tr>

                </table>
            </div>
    </body>

    <%- include("./header.ejs"); %>

</html>